<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kduclubandsociety">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/kdulogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Dashboard.AnnouncementDetails"></activity>
        <activity android:name=".Dashboard.AnnouncementAddActivity" />
        <activity android:name=".Dashboard.AnnouncementActivity" />
        <activity android:name=".Dashboard.DashboardOptionActivity" />
        <activity android:name=".Notification.GenerateNotification" />
        <activity android:name=".Dashboard.DashboardActivity" />
        <activity android:name=".Clubs.ClubsActivity" />
        <activity android:name=".Notification.NotificationActivity" />
        <activity android:name=".Profile.ProfileActivity" />
        <activity android:name=".Clubs.Club_Profile" />
        <activity android:name=".MainActivity" /> <!-- android:label="@string/title_activity_main"></activity> -->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notification.NotificationReciever" />

        <service android:name=".Notification.FirebaseMessagingService" />
    </application>

</manifest>